h2 {
       margin: 20px 10px 5px 80px;
}
span {
       display:inline-block;
       margin: 10px 20px;
}
button {
        padding: 5px 12px;
        border-radius: 4px;
        background-color: lightskyblue;
        font-size: 14px;
}
span.infoButtons {
       /* display:inline-block; */
       margin: 0 0 0 20px;
}
button:hover{
        background: #3cf;
        border-radius: 5px;
}
.SmallButton {
       width: 70px;
}
.BigButton {
       width: 110px;
}
.BiggerButton {
        width: 124px;
}
.GiantButton {
        width: 135px;
}
#Controls {
        margin: 20px 30px 25px;
}
.controlHolder {
        float: left;
        border: 1px solid black;
        margin: 10px 40px 10px 10px;
}
#Controls div:nth-last-child(2) {
        margin-right: 10px;
}
.animationSpeed {
        padding: 5px 0;
}
.gridButtons {
        padding: 5px 0;
}
.infoDiv {
        margin: 10px 30px;
        padding: 0px 20px;
        border: 1px solid black;
}
.toggleButton {
        margin: 0px 20px;
        color: white;
        background-color: blueviolet;
}
