h2 {
       margin: 20px 10px 5px 80px;
}
span {
       display:inline-block;
       margin: 7px 10px;
}
button {
        padding: 5px 12px;
        border-radius: 4px;
        /* background-color: lightskyblue; */
        color: #008be2;
        background-color: white;
        border: 1px solid #008be2;
        font-size: 14px;
        transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out;
}

button:hover{
        background-color: #008be2;
        color: white;
        cursor: pointer;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
/* .primaryButton {
        padding: 5px 12px;
        border-radius: 4px;
        background-color: #008be2;
        color: white;
        border: 1px solid #008be2;
        font-size: 14px;
}

.primaryButton:hover {
        color: #008be2;
        background-color: white;
        border: 1px solid #008be2;
} */
span.infoButtons {
       /* display:inline-block; */
       margin: 0 0 0 20px;
}
.SmallButton {
       width: 70px;
}
.BigButton {
       width: 110px;
}
.BiggerButton {
        width: 124px;
}
.GiantButton {
        width: 135px;
}
#Controls {
        margin: 20px 30px 25px;
}
.controlHolder {
        float: left;
        border: 1px solid #c7c7c7;
        margin: 10px 15px 10px 10px;
        border-radius: .25em;
}
#Controls div:nth-last-child(2) {
        margin-right: 10px;
}
.animationSpeed {
        padding: 5px 0;
}
.gridButtons {
        padding: 4px 0;
}
.infoDiv {
        margin: 10px 30px;
        padding: 0px 20px;
        /* border: 1px solid black; */
        border: 1px solid #c7c7c7;
        border-radius: .25em;
}
.toggleButton {
        margin: 0px 20px;
        /* color: white;
        background-color: blueviolet; */
        color: blueviolet;
        background-color: white;
        border: 1px solid blueviolet;
}
.toggleButton:hover {
        background-color: blueviolet;
        color: white;
}
#nbox, #pbox {
        text-align: right;
}
